@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


body {
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--secondary)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: white;
  --secondary:rgb(199,199,199);
  --tertiary: black;
}

a {
  text-decoration: none;
}
